[Unit]
Description={{ r.server_name }} service
After=nginx.service

[Service]
Restart=always
RuntimeMaxSec=1d
TimeoutStartSec=5
OOMScoreAdjust=-500
WorkingDirectory={{r.site_root}}
EnvironmentFile=/etc/profile.d/{{ r.server_name }}.env
ExecStart={{ r.site_root }}/venv/bin/uvicorn --port {{ r.port }} --log-level warning {{ r.asgi_entrypoint }}

[Install]
WantedBy=multi-user.target