[Unit]
Description={{r.app_name}} service
After=network-online.target

[Service]
Type=simple
User={{username}}
Restart=always
WorkingDirectory={{r.app_root}}
{% for key, value in r.env_vars.items() %}
Environment={{key}}={{value}}
{% endfor %}
ExecStart=/bin/bash -c 'source venv/bin/activate && {{r.command}}'

[Install]
WantedBy=multi-user.target
