server {
  listen 80;
  server_name {{r.server_name}};

  access_log syslog:server=unix:/dev/log,nohostname;
  error_log syslog:server=unix:/dev/log,nohostname;

  root /usr/share/nginx/html;
  index index.html;
  location ~ /.well-known {
    root /usr/share/nginx/html;
    allow all;
  }
  location ~ /.well-known/acme-challenge {
    root /usr/share/nginx/html;
    allow all;
  }
{% if r.http_images %}
  location ~* \.(?:jpg|jpeg|png|svg|gif|webp|ico|avif)$ {
    root {{r.site_root}}/dist;
    add_header Cache-Control "public, must-revalidate, max-age=3600";
    add_header 'Access-Control-Allow-Origin' '*' always;
    add_header 'Access-Control-Allow-Headers' '*' always;
    add_header 'Access-Control-Allow-Methods' 'HEAD, GET, OPTIONS, TRACE';
    add_header 'Access-Control-Max-Age' 3600;
  }
{% endif %}
  location / {
    return 301 https://$host$request_uri;
  }
}
