---
- name: "Ensure Ansible remote_tmp directory exists with correct permissions"
  ansible.builtin.file:
    path: /var/lib/postgresql/.ansible/tmp
    state: directory
    mode: '0755'
    owner: postgres
    group: postgres
  become: true
  become_user: postgres

- name: "Create user"
  community.postgresql.postgresql_user:
    state: present
    name: "{{ r.user }}"
    password: "{{ r.password }}"
    expires: "infinity"
  environment:
    PGOPTIONS: "-c password_encryption=scram-sha-256"
  become: true
  become_user: postgres

- name: "Create database"
  community.postgresql.postgresql_db:
    state: present
    name: "{{ r.database }}"
    owner: "{{ r.user }}"
    conn_limit: "50"
    encoding: UTF8
    lc_ctype: C.UTF-8
    lc_collate: C.UTF-8
  become: true
  become_user: postgres

- name: Detect PostgreSQL version
  ansible.builtin.shell: |
    ls -1 /etc/postgresql/ | head -1
  register: postgresql_version_result
  changed_when: false
  become: true

- name: Grant user local access using password auth
  community.postgresql.postgresql_pg_hba:
    dest: /etc/postgresql/{{ postgresql_version_result.stdout }}/main/pg_hba.conf
    contype: local
    users: "{{ r.user }}"
    databases: "{{ r.database }}"
    method: scram-sha-256
    create: yes
  become: true
  become_user: postgres

- name: Grant ALL privileges on database
  community.postgresql.postgresql_privs:
    login_db: "{{ r.database }}"
    privs: ALL
    type: database
    objs: "{{ r.database }}"
    role: "{{ r.user }}"
  become: true
  become_user: postgres

- name: Grant ALL privileges on schema public
  community.postgresql.postgresql_privs:
    login_db: "{{ r.database }}"
    privs: ALL
    type: schema
    objs: public
    role: "{{ r.user }}"
  become: true
  become_user: postgres

- name: Set log destination to syslog
  community.postgresql.postgresql_alter_system:
    param: log_destination
    value: syslog
  become: true
  become_user: postgres

- name: Set statement timeout to 5s
  community.postgresql.postgresql_alter_system:
    param: statement_timeout
    value: 5000
  become: true
  become_user: postgres

- name: Set lock timeout to 5s
  community.postgresql.postgresql_alter_system:
    param: lock_timeout
    value: 5000
  become: true
  become_user: postgres

- name: Set Idle in transation timeout to 10min
  community.postgresql.postgresql_alter_system:
    param: idle_in_transaction_session_timeout
    value: 300000
  become: true
  become_user: postgres

- name: Reload PostgreSQL service
  tags:
    - deploy
    - restart
  ansible.builtin.service:
    name: postgresql
    state: reloaded
