{% if r.alternate_server_name %}
server {
  listen 443 ssl;
  server_name {{r.alternate_server_name}};
  ssl_certificate         /etc/letsencrypt/live/{{r.alternate_server_name}}/fullchain.pem;
  ssl_certificate_key     /etc/letsencrypt/live/{{r.alternate_server_name}}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{r.alternate_server_name}}/fullchain.pem;
  return 301 https://{{r.server_name}}$request_uri;
}
{% endif %}

server {
  listen  443 ssl;
  server_name {{r.server_name}};

  ssl_certificate         /etc/letsencrypt/live/{{r.server_name}}/fullchain.pem;
  ssl_certificate_key     /etc/letsencrypt/live/{{r.server_name}}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{r.server_name}}/fullchain.pem;

  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 5m;
  ssl_stapling on;
  ssl_stapling_verify on;

  access_log syslog:server=unix:/dev/log,nohostname;
  error_log syslog:server=unix:/dev/log,nohostname;

  root {{r.site_root}}/dist;
  charset utf-8;
  client_max_body_size 10M;

  location / { try_files $uri @backend; }
  location @backend {
    include uwsgi_params;
    uwsgi_pass 127.0.0.1:{{r.port}};
  }
}
