[Unit]
Description={{r.server_name}} service
After=nginx.service

[Service]
Restart=always
WorkingDirectory={{r.site_root}}
TimeoutStartSec=5
ExecStop=/usr/bin/uwsgi --stop /tmp/{{r.server_name}}-master.pid
ExecStart=/usr/bin/uwsgi --ini {{r.site_root}}/uwsgi.ini

[Install]
WantedBy=multi-user.target
