[uwsgi]
plugins = python3
uid = {{username}}
chdir = {{r.site_root}}
home = {{r.site_root}}/venv
module = {{r.uwsgi_entrypoint}}
single-interpreter = true
need-app=true
http-socket = 127.0.0.1:{{r.port}}

pidfile = /tmp/{{r.server_name}}-master.pid

master = true
max-requests = 500
max-requests-delta = 50
harakiri = 180
processes = 4
auto-procname = true
procname-prefix = "{{r.server_name}} "

{% for key, value in r.env_vars.items() %}
env = {{ key }}={{ value }}
{% endfor %}
