[uwsgi]
plugins = python3
chdir = {{r.site_root}}/src
home = {{r.site_root}}/venv
module = {{r.uwsgi_entrypoint}}
http-socket = 127.0.0.1:{{r.port}}
logto = /var/log/uwsgi/{{r.package}}.log

pidfile = /tmp/{{r.package}}-master.pid

master = true
max-requests = 500
harakiri = 60
processes = 4

{% for key, value in r.env_vars.items() %}
env = {{ key }}={{ value }}
{% endfor %}
